<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Izvještaj</title>
</head>
<body>
    <!-- <div align="right" class="logo">
        <img src="logo.jpg" align="top" width="10%" height="10%"/>
    </div> -->
    <h1>Futuris SB Siniša Borjanić</h1>
    <hr>
    <h1>Izvještaj</h1>
    <p><i>Datum:</i> {{ current_date }}</p>
    <p><i>Za period:</i> {{ pocetni_datum }} - {{ krajnji_datum }}</p>
    <hr>
    <p><i>Stanje na kilometar satu:</i> {{ stanje_na_satu }} km</p>
    <h2>PROMET</h2>
    <p><i>Pređena kilometraža za odabrani period:</i> {{ predjeno_kilometara }} km</p>
    <p><i>Promet gotovinski:</i> {{ promet_gotovina }} KM</p>
    <p><i>Promet žiralno:</i> {{ promet_ziralno }} KM</p>
    <p><i>Ukupno promet:</i> {{ ukupno_promet }} KM</p>
    <p><i>Od toga nenaplaćeno:</i> {{ nenaplaceno }} KM</p>
    <p><i>Prosječna cijena po gaženom kilometru:</i> {{ prosjecna_cijena_po_gazenom_km }} KM/km</p>
    <p><i>Broj gratis/pro-bono usluga:</i> {{ broj_gratis }}</p>

    {% if broj_gratis > 0 %}
    <table border="1">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Naziv(ime) klijenta</th>
                <th>Kilometraža pređena</th>
                <th>Startno mjesto</th>
                <th>Ciljno mjesto</th>
                <th>Operativni trošak</th>
                <th>Komentar/Napomena</th>
            </tr>
        </thead>
        <tbody>
            {% for row in gratis_rows %}
            <tr>
                <td>{{ row['Datum'] }}</td>
                <td>{{ row['Naziv(ime) klijenta'] }}</td>
                <td>{{ row['Kilometraža pređena (km)'] }} km</td>
                <td>{{ row['Startno mjesto'] }}</td>
                <td>{{ row['Ciljno mjesto'] }}</td>
                <td>{{ row['Operativni trošak (KM)']}} KM</td>
                <td>{{ row['Komentar/Napomena'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


    <!-- GORIVO Section -->
    <hr>
    <h2>GORIVO</h2>
    <p><i>Nasuta količina:</i> {{ gorivo_nasuta_kolicina }} l</p>
    <p><i>Po prosječnoj cijeni:</i> {{ gorivo_prosjecna_cijena }} KM/l</p>
    <p><i>Ukupno plaćeno:</i> {{ gorivo_ukupno_placeno }} KM</p>
    <p><i>Potrošnja goriva:</i> {{ gorivo_potrosnja }} l/100km</p>
    <p><i>Po prosječnoj cijeni:</i> {{ gorivo_prosjecna_cijena_potrosnje }} KM/100km</p>


    <!-- KAZNE Section -->
    <hr>
    <h2>KAZNE</h2>
    <p><i>Broj napravljenih prekršaja:</i> {{ kazne_broj_prekrsaja }}</p>
    <p><i>Ukupan trošak:</i> {{ kazne_ukupan_trosak }} KM</p>

    {% if kazne_broj_prekrsaja > 0 %}
    <table border="1">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Prekršaj</th>
                <th>Iznos</th>
                <th>Komentar/Napomena</th>
            </tr>
        </thead>
        <tbody>
            {% for row in kazne_rows %}
            <tr>
                <td>{{ row['Datum'] }}</td>
                <td>{{ row['Prekršaj'] }}</td>
                <td>{{ row['Iznos (KM)'] }} km</td>
                <td>{{ row['Komentar/Napomena'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <!-- SERVIS Section -->
    <hr>
    <h2>SERVIS-GUME-REGISTRACIJA</h2>
    <p><i>Troškovi servisa:</i> {{ servis_trosak_servisa }} KM</p>
    <p><i>Troškovi zamjene/kupovine guma:</i> {{ servis_trosak_gume }} KM</p>
    <p><i>Troškovi registracije:</i> {{ servis_trosak_registracija }} KM</p>

    {% if servis_broj_servisa > 0 %}
    <table border="1">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Opis</th>
                <th>Iznos</th>
                <th>Komentar/Napomena</th>
            </tr>
        </thead>
        <tbody>
            {% for row in servis_rows %}
            <tr>
                <td>{{ row['Datum'] }}</td>
                <td>{{ row['Opis'] }}</td>
                <td>{{ row['Iznos (KM)'] }} km</td>
                <td>{{ row['Komentar/Napomena'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <!-- TROSKOVI Section -->
    <hr>
    <h2>TROŠKOVI</h2>
    <p><i>Iznos troškova za odabrani period:</i> {{ trosak_ukupan_iznos }} KM</p>

    {% if trosak_ukupan_iznos > 0 %}
    <table border="1">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Opis</th>
                <th>Iznos</th>
                <th>Komentar/Napomena</th>
            </tr>
        </thead>
        <tbody>
            {% for row in trosak_rows %}
            <tr>
                <td>{{ row['Datum'] }}</td>
                <td>{{ row['Opis'] }}</td>
                <td>{{ row['Iznos (KM)'] }} km</td>
                <td>{{ row['Komentar/Napomena'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    <hr>
    <h2>OSTALO</h2>
    <p><i>Pređeno kilometara u druge svrhe:</i> {{ gorivo_potroseno_privatno }} km</p>
</body>
</html>
